/*colors and fonts*/
.content-box, .footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}
.button-one, .button-two{
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border:2px solid #F9FAF8;
}
.box {
    border-radius: 8px;
    border: 2px solid #3882F6;
}
.sign-up-container {
    background-color: #3882F6;
}
.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quote-box {
    background-color: #E5E7EB;
   
}
.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color: #1F2937;
}
.sign-up-box {
    color:#E5E7EB
}
.action-header {
    font-weight: bolder;
    font-size: 24px;
}
.quoted {
    font-weight: bolder;
}

/*flex and alignment and padding*/

body{
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 32px;
}

.sign-up-box {
    padding:96px 256px;
}

.sign-up-container {
    display: flex;
    padding: 32px;
    justify-content: space-around;
}
button {
    padding: 8px 24px;
}
.quote-box {
    display:flex;
    flex-direction: column;
    padding: 96px 256px;
    text-align: center;
}
.quoted {
    display: flex;
    justify-content: flex-end;
}
.info-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 128px 96px 128px;
    gap: 16px;
}
.box-box {
    display: flex;
    gap: 32px;
    justify-content: center;
}
.boxes {
    flex: 0;
    text-align: center;
}
.box {
    padding: 64px;
}