/*colors and fonts*/
.content-box, .footer {
    background-color: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8
}
.button-one, .button-two{
    background-color: #3882F6;
}
.sign-up-box {
    background-color: #3882F6;
}
.info-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.quote-box {
    background-color: #E5E7EB;
}
.quote-text {
    font-size: 36px;
    font-weight: lighter;
    font-style:italic;
    color: #1F2937;
}

/*flex*/

body{
    display: flex;
    flex-direction: column;
}

.footer {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 32px;
}

